<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/deven/IdeaProjects/FrameWork/src/test/java/Framework/TestCases/ProductPageTest.java">
        <classes>
            <class name="Framework.TestCases.ProductPageTest"/>
        </classes>
    </test>
</suite>